= error_messages_for :treatment

%div.input-left.no_border

  %h4 Treatment

  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.check_box :provided
    = f.label :provided, 'Currently providing this treatment?'

%div.input-bottom.check_out
  %p
    = submit_tag 'Save'
    = link_to 'Cancel', admin_treatments_path, :class => "warning"
