- title 'Treatments'

= header do
  %h1 Treatments

%table
  %thead
    %tr
      %th Name
      %th Being Provided?
  %tbody
    - @treatments.each do |treatment|
      %tr
        %td= treatment.name
        %td= image_for_yes_no treatment.provided?
        %td.controls
          = link_to 'Edit', edit_admin_treatment_path(treatment)
          = link_to 'Destroy', admin_treatment_path(treatment),
           :method => :delete, :'data-confirm' => "Are you sure?"

%p
  = link_to 'New', new_admin_treatment_path, class: 'btn'
