- title "Checkout - Prosthetics"

= header do
  %h1 Checkout - Prosthetics
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"

- form_for @patient, 
  :url  => treatment_area_patient_prosthetics_path(@treatment_area.id, @patient.id),
  :html => { :autocomplete => "off", :method => :post } do |f|

  %div.input
    - f.fields_for :prosthetic do |s|
      %p
        = s.label :pickup, "Pickup Time"
        %br
        = s.text_field :pickup
      %p
        = s.label :notes, "Notes for lab"
        %br
        = s.text_area :notes
  
  %div.input-bottom{:class => "check_out"}
    = f.submit "Next"
    = link_to "Back", treatment_area_patient_procedures_path(@treatment_area, @patient), :class => "back"