- title 'Treatment Areas'

= header do
  %h1 Treatment Areas

%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Capacity
  %tbody
    - @treatment_areas.each do |area|
      %tr
        %td= area.name
        %td= area.capacity
        %td.controls
          = link_to 'Edit', edit_admin_treatment_area_path(area), 
            :class => 'btn btn-mini'
          = link_to 'Destroy', admin_treatment_area_path(area),
            :method => :delete, :'data-confirm' => "Are you sure?", 
            :class  => 'btn btn-danger btn-mini'


%p
  = link_to 'New', new_admin_treatment_area_path, :class => "btn"
