- title 'Treatment Areas'

= header do
  %h1 Treatment Areas

%table
  %thead
    %tr
      %th Name
      %th Capacity
  %tbody
    - @treatment_areas.each do |area|
      %tr
        %td= area.name
        %td= area.capacity
        %td.controls
          = link_to 'Edit', edit_admin_treatment_area_path(area)
          = link_to 'Destroy', admin_treatment_area_path(area),
            :method => :delete, :'data-confirm' => "Are you sure?"


%p
  = link_to 'New', new_admin_treatment_area_path, :class => "btn"
