- title 'Maintenance'

= header do
  %h1 Maintenance

%h2 Diagnostics

%p
  %b Backup Path:
  = @backup

%p
  %b X-Ray Paths:
  = @xray

%h2 Tools

%p
  = link_to 'Reset Clinic DB', admin_maintenance_reset_path,
    :class   => "warning",
    :confirm => "WARNING: This will destroy all patient information! Are you sure you want to proceed?",
    :method  => :post

%p
  = link_to 'Reset Treatment Area Distribution Report',
    admin_maintenance_reset_distribution_path,
    :class   => "warning",
    :confirm => "This will reset the Treatment Area Distribution Report. Are you sure you want to proceed?",
    :method  => :post