- title 'Maintenance'

= header do
  %h1 Maintenance

%h2 Diagnostics

%p
  %b Backup Path:
  = @backup

- if dexis?
  %p
    %b X-Ray Paths:
    = @xray

%p
  %b X-Ray Solution:
  = @xray_solution

%h2 Tools

%p
  = link_to 'Reset Clinic DB', admin_maintenance_reset_path,
    :class   => "btn btn-danger",
    :'data-confirm' => "WARNING: This will destroy all patient information! Are you sure you want to proceed?",
    :method  => :post
