- title 'Log in'

= header do
  %h1 Log In

- form_tag session_path do
  %p
    = label_tag 'login'
    %br
    = select_tag 'login', options_for_select(@users, params[:login] || @last_user)

  %p
    = label_tag 'password'
    %br
    = password_field_tag 'password', nil

  %p
    = submit_tag 'Log in'
    |
    = link_to "Cancel", root_path, :class => 'warning'
