- if current_user.user_type == UserType::XRAY && cdr?
  - title "#{@patient.full_name} - #{@patient.id}"
- else
  - title "Checkout - Procedures"

- content_for :header_js do
  :plain
    $(function(){
      MoM.Checkout.init({
        procedureAdded: #{params.has_key?(:procedure_added)}
      });
    });

= header do
  %h1 Checkout - Procedures
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"

#procedures

  -# Dialog boxes
  #no_procedure
    .top You have checked out a patient without adding any procedures.
    %p
      If this is correct you may
      %b continue
      otherwise click
      %b go back
      to add the patient's procedures.
    .bottom
      = continue_button @treatment_area, @patient, :text => "Continue without entering any procedures"
      %a.go-back{:href=>'#'} Go back and enter a procedure

  #incomplete_procedure
    .top A procedure has been selected but not added.
    %p
      To finish without adding the procedure click
      %b continue.
    %p
      To add the procedure click
      %b go back
      and then Add Procedure.
    .bottom
      = continue_button @treatment_area, @patient, :text => "Continue without adding"
      %a.go-back{:href=>'#'} Go back and finish adding procedure


  = render :partial => "new"

  %div.input-right.border
    %h4 Entered Procedures

    - @patient.patient_procedures.each do |p|
      - unless p.new_record?
        .procedure{:'data-id' => p.id, :class => cycle('','odd')}
          = p.full_description
          = remove_procedure(p)
          = image_tag "spinner.gif", :class => "side_image right spinner"
    - if @patient.patient_procedures.length <= 1
      %div{:style => "width:375px; padding-left:4px;"}
        %p
          There are currently no procedures entered for this patient.
        %p
          To enter a procedure fill out the form to the right and click
          %b Add Procedure
        %p
          Once all procedures have been entered click
          %b Finish

  %div.input-bottom.check_out
    - if current_user.user_type == UserType::XRAY && (dexis? || kodak?)
      %span{:style => "float:left;"}
        = radiology_link @patient, true
        = image_tag "loading.gif", :style => "display:none;"

    = button_to_next_checkout(@treatment_area, @patient)
    = link_to_previous(@treatment_area, @patient)
