<p>
  <b>Name:</b>
  <%=h @prescription.name %>
</p>

<p>
  <b>Strength:</b>
  <%=h @prescription.strength %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @prescription.quantity %>
</p>

<p>
  <b>Dosage:</b>
  <%=h @prescription.dosage %>
</p>

<p>
  <b>Cost:</b>
  <%=h @prescription.cost %>
</p>


<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
