= f.error_messages

%p
  = f.label :description
  %br
  = f.text_field :description

%p
  = f.label :cost
  %br
  = f.text_field :cost

%p
  = f.submit 'Save'
  = link_to 'Cancel', admin_pre_meds_path
