- title 'Pre-Meds'

= header do
  %h1 Pre-Meds

%table
  %tr
    %th Description
    %th Cost

  - @pre_meds.each do |pre_med|
    %tr
      %td= pre_med.description
      %td= pre_med.cost
      %td= link_to 'Edit', edit_admin_pre_med_path(pre_med)
      %td= link_to 'Destroy', admin_pre_med_path(pre_med), :confirm => 'Are you sure?', :method => :delete

%br

%p
  = link_to 'New Pre-Med', new_admin_pre_med_path
