- title 'Pre-Meds'

= header do
  %h1 Pre-Meds

%table
  %thead
    %tr
      %th Description
      %th Cost
  %tbody
    - @pre_meds.each do |pre_med|
      %tr
        %td= pre_med.description
        %td= real_currency pre_med.cost
        %td.controls
          = link_to 'Edit', edit_admin_pre_med_path(pre_med)
          = link_to 'Destroy', admin_pre_med_path(pre_med), 
          :'data-confirm' => 'Are you sure?', :method => :delete

%p
  = link_to 'New Pre-Med', new_admin_pre_med_path, class: 'btn'
