- title 'Support Requests'

= header do
  %h1 Support Requests
  %br
  = button_to "Destroy All", destroy_all_admin_support_requests_path, 
  :'data-confirm' => 'Are you sure?', :method => :delete,
  :class => 'btn btn-danger'

%table
  %thead
    %tr
      %th Station Name
      %th Resolved
      %th IP

  %tbody
    - @requests.each do |request|
      %tr
        %td= request.station_description
        %td= request.resolved
        %td= request.ip_address
        %td.controls
          = link_to "Destroy", admin_support_request_path(request), 
          :'data-confirm' => 'Are you sure?', :method => :delete
