- title 'Support Requests'

= header do
  %h1 Support Requests
  %br
  = button_to "Destroy All", destroy_all_admin_support_requests_path, :confirm => 'Are you sure?', :method => :delete

%table
  %tr
    %th Station Name
    %th Resolved
    %th IP
    %th Controls

  - @requests.each do |request|
    %tr{:class=> cycle('even', 'odd')}
      %td= request.station_description
      %td= request.resolved
      %td= request.ip_address
      %td= link_to "Destroy", admin_support_request_path(request), :confirm => 'Are you sure?', :method => :delete
