<h1>Editing procedure_tooth_number</h1>

<% form_for(@procedure_tooth_number) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :procedure_id %><br />
    <%= f.text_field :procedure_id %>
  </p>
  <p>
    <%= f.label :tooth_number %><br />
    <%= f.text_field :tooth_number %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @procedure_tooth_number %> |
<%= link_to 'Back', procedure_tooth_numbers_path %>
