<p>
  <b>Patient:</b>
  <%=h @patient_procedure.patient_id %>
</p>

<p>
  <b>Procedure:</b>
  <%=h @patient_procedure.procedure_id %>
</p>

<p>
  <b>Tooth number:</b>
  <%=h @patient_procedure.tooth_number %>
</p>

<p>
  <b>Surface code:</b>
  <%=h @patient_procedure.surface_code %>
</p>

<p>
  <b>Provider:</b>
  <%=h @patient_procedure.provider %>
</p>


<%= link_to 'Edit', edit_patient_procedure_path(@patient_procedure) %> |
<%= link_to 'Back', patient_procedures_path %>
