- title "Checkout - Prescriptions"

= header do
  %h1 Checkout - Prescriptions
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"

= form_for @patient,
  :url => treatment_area_patient_prescription_path(@treatment_area, @patient, 0),
  :html => { :autocomplete => "off" } do |f|

  %div.input

    %h4
      Prescriptions
      = help_icon("prescriptions")

    = help_box("prescriptions") do
      Check each prescription the patient was prescribed. This information is
      located in the patient's chart at the bottom right of the back page.

      = image_tag "help/prescriptions.png", :class => "help-example "

    %p
      = f.fields_for :patient_prescriptions do |s|
        = s.hidden_field :prescription_id
        = s.check_box :prescribed, {}, 1, -1
        = s.label :prescribed, s.object.prescription.full_description
        %br

  %div.input-bottom{:class => "check_out"}
    = f.submit "Finish"
    = link_to "Back", treatment_area_patient_procedures_path, :class => "back"
