- title "Prescriptions"

= header do
  %h1 Prescriptions

%table
  %tr
    %th Name
    %th Strength
    %th Quantity
    %th Dosage
  - @prescriptions.each do |prescription|
    %tr
      %td=  prescription.name
      %td=  prescription.strength
      %td=  prescription.quantity
      %td=  prescription.dosage
      %td=  link_to 'Edit', edit_admin_prescription_path(prescription)
      %td=  link_to 'Destroy', admin_prescription_path(prescription), :confirm => 'Are you sure?', :method => :delete

%br

%p
  = link_to 'New Prescription', new_admin_prescription_path
