#top_navigation
  - if signed_in?
    %span{:style=>"float:left;"}
      = link_to_help
      %span{:id=>"help_loading", :style=>"display:none;"}
        = image_tag "help_loading.gif", :style => "padding-right: 5px;"
        Requesting Help ...
    - if current_user.user_type == UserType::CHECKOUT && @treatment_area
      = render :partial => "treatment_areas/change_treatment_area"
      = link_to "#{@treatment_area.name} #{current_user.name}", current_user.start_path, :style => "text-decoration: none;"
    - else
      = link_to current_user.name, current_user.start_path, :style => "text-decoration: none;"
    |
    = link_to 'Log out', logout_path
  - else
    %span{:style=>"float:left;"}= link_to 'System status', status_path
    Not Logged In
    |
    = link_to 'Log in', login_path
