#top_navigation
  - if signed_in?
    %span.left
      = link_to_help
      %span#help_loading
        = image_tag "help_loading.gif"
        Requesting Help ...
    - if current_user.user_type == UserType::CHECKOUT && @treatment_area
      = render :partial => "treatment_areas/change_treatment_area"
      = link_to "#{@treatment_area.name} #{current_user.name}",
        current_user.start_path, :class => 'user-name'
    - else
      = link_to current_user.name, current_user.start_path,
        :class => 'user-name'
    |
    = link_to 'Log out', logout_path
  - else
    %span.left
      = link_to 'System Dashboard',
        app_config['dashboard']['url']
    Not Logged In
