<% title 'Users' %>

<h1>Users</h1>

<hr>

<table>
<tr>
  <th>Login</th>
  <th>Name</th>
  <th>Controls</th>
</tr>

<% for user in @users %>
<tr class='<%= cycle('even', 'odd') %>'>
  <td><%= user.login %></td>
  <td><%= user.name %></td>
  <td><%= link_to 'Edit', edit_user_path(user) %></td>
</tr>

<% end %>

</table>

<p>
<%= link_to 'New', new_user_path %> | <%= link_to 'Back', home_path %>
</p>