- title 'Assignment Desk'

- content_for :header do
  :javascript
    document.observe('dom:loaded', function(){
      #{over_capacity(@areas)}
    });

= header do
  %h1 Assignment Desk
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"
  
- form_for @patient, :url => assignment_desk_path(@patient) do |f|
  %div.input-left.no_border{:style => "width: 200px;"}
  
    %h4 Treatment Areas
  
    %p
      - @areas.reject {|a| a.radiology? }.each do |area|
        = radio_treatment_area f, area
        = graph_label f, area
        %br
    %p
      = radiology_check_box f
      = radiology_label f
  
  %div.input-right.border
    -# = bar_graph @current_capacity
    = raw bar_graph "treatment_area_graph", 
                    @current_capacity,
                    { :style => "width:590px;height:200px" }

    %br

  %div.input-bottom{:class => "check_out"}
    = f.submit "Assign"
    = link_to "Cancel", patients_path, :class => "warning"