- title 'Assignment Desk'

= header do
  %h1 Assignment Desk
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"

= form_tag assignment_desk_path(@patient), method: :put do
  .input-left.no_border{:style => 'width: 200px;'}

    %h4 Treatment Areas

    %p
      - @areas.reject {|ar| ar.radiology? }.each do |area|
        = radio_button :patient_params, :assigned_to, area.id, checked: @patient.assigned_to?(area)
        %label{:for => "patient_params_assigned_to_#{area.id}"}= area.name
        %br
    %p
      = check_box :patient_params, :radiology, checked: @is_assigned_to_radiology
      %label{:for => "patient_params_radiology"}= TreatmentArea::RADIOLOGY_NAME

  .input-right.border
    = stacked_bar_graph 'treatment_area_graph',
      { "Assigned" => @assignments,
        "Capacity" => @capacity },
      { style: 'width: 590px; height: 200px' }

    %br

  .input-bottom{class: 'check_out'}
    = submit_tag 'Assign'
    = link_to 'Cancel', assignment_desk_index_path, class: 'warning'
