- title 'Assignment Desk'

= header do
  %h1 Assignment Desk
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"

= form_for @patient, :url => assignment_desk_path(@patient) do |f|
  %div.input-left.no_border{:style => "width: 200px;"}

    %h4 Treatment Areas

    %p
      - @areas.reject {|a| a.radiology? }.each do |area|
        = f.radio_button :assigned_treatment_area_id, area.id
        = f.label :assigned_treatment_area_id, area.name, :value => area.id
        %br
    %p
      = f.check_box :radiology
      = f.label :radiology, "Radiology"

  %div.input-right.border
    = bar_graph "treatment_area_graph",
                @current_capacity,
                { :style => "width:590px;height:200px" }

    %br

  %div.input-bottom{:class => "check_out"}
    = f.submit "Assign"
    = link_to "Cancel", patients_path, :class => "warning"
