- title 'Assignment Desk'

- content_for :header do
  :javascript
    $(function(){
      $('#chart_number').select();
      $('#chart_number').focus();
    });

= header do
  %h1 Assignment Desk

= render "patients/search"

- if @patients.any?
  %table
    %thead
      %tr
        %th Chart #
        %th Last name
        %th First name
        %th Date of birth
        %th Age
        %th Sex
    %tbody
      - @patients.each do |patient|
        %tr
          %td= patient.id
          %td= patient.last_name
          %td= patient.first_name
          %td= patient.dob
          %td= patient.age
          %td= patient.sex
          %td.controls
            = link_to "Assign", edit_assignment_desk_path(patient),
              class: 'primary'