<h1>New patient_prescription</h1>

<% form_for(@patient_prescription) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :patient_id %><br />
    <%= f.text_field :patient_id %>
  </p>
  <p>
    <%= f.label :prescription_id %><br />
    <%= f.text_field :prescription_id %>
  </p>
  <p>
    <%= f.label :prescribed %><br />
    <%= f.check_box :prescribed %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', patient_prescriptions_path %>
