<%= error_messages_for :treatement_area %>

<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :amalgam_composite_procedures %>
  <%= f.check_box :amalgam_composite_procedures %>
</p>

<p>
  <%= submit_tag 'Save' %>
</p>