- title "#{@treatement_area.name} - Checkout"

- header do
  %h1= image_tag("logo_small.png") + " #{@treatement_area.name} Checkout"
  = "#{@patient.full_name} | Chart # #{@patient.id}"

%div.input-left.no_border{:style => "width: 450px;"}

  %h4 New Procedure

  - form_for @patient_procedure, :url => treatement_area_checkout_path(:id => @treatement_area, :patient_id => @patient) do |f|
    = f.error_messages
    = f.hidden_field :patient_id
  
    %dl
      %dt Procedure:
      %dd
        - @treatement_area.procedures.each do |procedure|
          = procedure_radio procedure, f
          = f.label :procedure_id, procedure.full_description, :value => procedure.id
          %br
        - if @treatement_area.amalgam_composite_procedures
          = procedure_amalgam_composite_radio f
          = f.label :procedure_id,  "Amalgam / Composite", :value => "amalgam_composite"
          %br
        = procedure_other_radio f
        = f.label :procedure_id, "Other Procedure", :value => "other"
      %dt{:id => "other_dt", :style => "display:none;"}
        = f.label :code, "Procedure Code:"
      %dd{:id => "other_dd", :style => "display:none;"}
        = f.text_field :code
      %dt{:id => "amcomp_dt", :style => "display:none;"}
        = f.label :procedure_type, "Procedure Type:"
      %dd{:id => "amcomp_dd", :style => "display:none;"}
        = f.select :procedure_type, ['Amalgam','Composite'], :include_blank => true
      - #%dt= f.label :provider_id, "Provider:"
      - #%dd= f.text_field :provider_id, :value => flash[:last_provider_id]
      %dt{:id => "tooth_dt", :style => tooth_visible(@patient_procedure)}
        = f.label :tooth_number, "Tooth Number:"
      %dd{:id => "tooth_dd", :style => tooth_visible(@patient_procedure)}
        = f.text_field :tooth_number
      %dt{:id => "surface_dt", :style => surface_visible(@patient_procedure)}
        = f.label :surface_code, "Surface Code(s):"
      %dd{:id => "surface_dd", :style => surface_visible(@patient_procedure)}
        = f.text_field :surface_code
  
    %p
      = f.submit "Add Procedure" 
      = link_to_reset "new_patient_procedure"

%div.input-right.border
  %h4 Entered Procedures
  
  - @patient.patient_procedures.each do |p|
    - unless p.new_record?
      %div{:id => "procedure_#{p.id}", :class => "procedure #{cycle('','odd')}"}
        = p.full_description
        = remove_procedure(p)
        = image_tag "spinner.gif", :class => "side_image right", :style => "display:none;", :id => "loading_#{p.id}"
  - if @patient.patient_procedures.length <= 1
    %div{:style => "width:375px; padding-left:4px;"}
      %p
        There are currently no procedures entered for this patient.
      %p
        To enter a procedure fill out the form to the right and click
        %b Add Procedure
      %p
        Once all procedures have been entered click
        %b Finish
  
%div.input-bottom{:class => "check_out"}
  - if current_user.user_type == UserType::XRAY
    %span{:style => "float:left;"}
      = link_to_export_to_dexis @patient
      = image_tag "loading.gif", :id => "exporting", :style => "display:none;"

  = link_to_finish @treatement_area
  = link_to_previous(@treatement_area, @patient)