- title "#{@treatement_area.name} - Check out"

- header do
  %h1= image_tag("logo_small.png") + " #{@treatement_area.name} Check out"
  = "#{@patient.full_name} | Chart # #{@patient.id}"

- form_for @patient, :url => treatement_area_checkout_path(:id => @treatement_area, :patient_id => @patient) do |f|
  = f.hidden_field :id
  = f.error_messages
  
  - @treatement_area.procedures.each do |procedure|
    %div{:id => procedure.id}
      - @patient.patient_procedures.find(:all, :conditions => {:procedure_id => procedure.id}).each do |pp|
        - f.fields_for :patient_procedures, pp do |p|
          = render :partial => "procedure", :locals => {:procedure => pp, :p => p }
    %p
      = add_procedure_link image_tag("add.png", :class => "side_image") + " Add #{procedure.full_description}", procedure, f

  %p
    = f.submit "Check out" 
    = link_to 'Cancel', patients_path(:treatement_area_id => @treatement_area.id), :class => 'warning'