<% title "#{@treatement_area.name} - Check out" %>

<% header do %>
  <h1><%= image_tag "logo_small.png" %> <%= @treatement_area.name %> Check out</h1>
  <%= @patient.full_name %> | Chart # <%= @patient.id %>
<% end %>

<% form_for @patient, :url => treatement_area_checkout_path(:id => @treatement_area, :patient_id => @patient) do |f| %>
  <%= f.hidden_field :id %>
  
  <table id="hor-minimalist-b">
    <tr>
      <th>Procedure</th>
      <th>Tooth Number</th>
      <th>Provider</th>
      <th colspan=2></th>
    </tr>
  <% f.fields_for :patient_procedures do |p| %>
    <tr>
      <%= p.hidden_field :procedure_id %>
      <td>
        <%= p.object.procedure.full_description if p.object.procedure %>
      </td>
      <td>
        <% if p.object.procedure && p.object.procedure.requires_tooth_number%>
          <%= p.text_field :tooth_number %>
        <% end %>
      </td>
      <td>
        <%= p.text_field :provider_id %>
      </td>
      <td><%= link_to image_tag("delete.png"), "#", :title => "Remove Procedure" %></td>
      <td><%= link_to image_tag("add.png"), "#", :title => "Add Another Procedure" %></td>
    </tr>
  <% end %>
  </table>


  <%= f.submit "Check out" %> <%= link_to 'Cancel', patients_path(:treatement_area_id => @treatement_area.id), :class => 'warning' %>
<% end %>