%ul
  %li.link= link_to 'Reports', reports_path
  %li.link= link_to 'Patients', patients_path
  %li.link= link_to 'Procedures', admin_procedures_path
  %li.link= link_to 'Prescriptions', prescriptions_path
  %li.link= link_to 'Pre-Meds', admin_pre_meds_path
  %li.link= link_to 'Treatment Areas', admin_treatment_areas_path
  %li.link= link_to 'Support Requests', support_requests_path
  %li.link= link_to 'Users', users_path