%ul
  %li.link= link_to 'Reports', admin_reports_path
  %li.link= link_to 'Patients', patients_path
  %li.link= link_to 'Procedures', admin_procedures_path
  %li.link= link_to 'Prescriptions', admin_prescriptions_path
  %li.link= link_to 'Pre-Meds', admin_pre_meds_path
  %li.link= link_to 'Treatment Areas', admin_treatment_areas_path
  %li.link= link_to 'Support Requests', admin_support_requests_path
  %li.link= link_to 'Users', admin_users_path
