- title 'Home'

= header do
  %h1
    = clinic_state
    Mission of Mercy

- if signed_in?
  - if current_user.user_type == UserType::ADMIN
    = render :partial => 'admin_index'
  - elsif current_user.user_type == UserType::CHECKOUT
    = render :partial => 'checkout_index'
- else
  %h3= link_to 'Click here to log in', login_path, :class => 'back'
