- content_for :header_js do
  :plain
    $(function(){
      var options = {
        lastPatient: {
          id: #{@last_patient.try(:id) || 'null'},
          contactInformation: #{@last_patient.try(:contact_information).to_json || 'null'}
        },
        requireWaiverConfirmation: #{@patient.errors.empty?},
        dateInput: '#{@date_input}'
      };

      MoM.Checkin.init(options);
    });

= hidden_field_tag :date_input

#demographics
  = f.error_messages
  = f.hidden_field :previous_chart_number

  %div.input-left.check-in-left-side
    = render :partial => 'demographics',
             :locals  => { :f => f, :patient => @patient }

    = render :partial => 'contact_information',
             :locals  => { :f => f, :patient => @patient }

  %div.input-right.check-in-right-side
    = render :partial => 'visit_details',
             :locals  => { :f => f, :patient => @patient }

    = render :partial => 'additional_information',
             :locals => { :f => f, :patient => @patient }
