- content_for :header do
  :coffeescript
    $ -> new mom.checkin

= hidden_field_tag :date_input

= f.error_messages
= f.hidden_field :previous_chart_number

%div.input-left

  %h4 1: Demographics

  %div.input
    %div.row
      %span.label= f.label :first_name
      %span.formw= f.text_field :first_name, required: true
    %div.row
      %span.label= f.label :last_name
      %span.formw= f.text_field :last_name, required: true
    %div.row
      %span.label= f.label :date_of_birth
      = image_tag "cog.png", :id => "date-input-toggle",
      :title => "Toggle date input method"
      %span#date-input-container.formw
        %span#date-select
          = f.date_select :date_of_birth, @patient.dob_select_options,
            required: true
        %span#date-text
          = f.text_field :date_of_birth, :value => @patient.dob,
            required: true, 'parsley-americandate' => true
      #date-format.formexample
        Format: mm/dd/yyyy
    %div.row
      %span.label= f.label :sex
      %span.formw= f.select :sex, *@patient.sex_select_options,
        required: true
    = react_component('LanguageField', language: @patient.language)

  %div.contact_information_header
    %h4 2: Contact Information
    %button.same_as_previous_patient_button.btn.btn-mini
      Same as previous patient

  %div.input
    %div.row
      %span.label= f.label :phone
      %span.formw= f.text_field :phone
    %div.row
      %span.label= f.label :street
      %span.formw= f.text_field :street
    %div.row
      %span.label= f.label :zip
      %span.formw= f.text_field :zip
      = image_tag "spinner.gif", :id => "zip-spinner", :class => "spinner"
    %div.row
      %span.label= f.label :city
      %span.formw= f.text_field :city, required: true
    %div.row
      %span.label= f.label :state
      %span.formw= f.select :state, @registration.states, {include_blank: true},
        required: true
    %div.row
      %span.label= f.label :county
      %span.formw= f.select :county, @registration.counties, {include_blank: true},
        required: true
  %br


%div.input-right

  %h4 3: Visit Information

  .input.check-in--visit-information
    .row
      %p= f.label :chief_complaint, "What is the reason for your visit today?"
      = f.select :chief_complaint,
        *@patient.chief_complaint_options, required: true
    .row
      %p Are you having pain anywhere in your mouth?
      = f.radio_button :pain, true, required: true,
        'data-disable' => {group: 'pain-fields', disable: false}.to_json
      = f.label :pain, "Yes", value: true
      = f.radio_button :pain, false, required: true,
        'data-disable' => {group: 'pain-fields', disable: true}.to_json
      = f.label :pain, "No", value: false
    .row
      %fieldset#pain-fields
        %p How long have you had this pain?
        .input
          = f.select :time_in_pain, [ "1 month or less",
            "More than 1 month, but not more than 6 months",
            "More than 6 months, but not more than 1 year",
            "More than 1 year"], include_blank: true
    .row
      %p
        In general, how would you rate your
        %strong overall health?
      .input
        = f.select :overall_health, ['Excellent', 'Very good', 'Good', 'Fair',
          'Poor'], { include_blank: true }, required: true

  - if @patient.previous_chart_number.present?
    = f.hidden_field :consent_to_research_study, value: false
  - else
    %h4 4: Research Study

    %p Did patient consent to participate in research study?
    = f.radio_button :consent_to_research_study, true
    = f.label :consent_to_research_study, "Yes", value: true
    = f.radio_button :consent_to_research_study, false
    = f.label :consent_to_research_study, "No", value: false
