.bootstrap-form
  = form_for @patient_search, method: :get, html: {autocomplete: 'off'} do |f|
    .input-append.input-prepend
      %span.add-on
        - if @patients_table.show?(:count) && @patients_table.count > 0
          = @patients_table.count
        - else
          %i.icon-user
      = f.text_field :chart_number,
        placeholder: "Chart number", class: "span2", autofocus: 'autofocus'
      - if @patients_table.show? :name
        = f.text_field :name, placeholder: "Name", class: "span2"
      - if @patients_table.show? :age
        = f.text_field :age, placeholder: "Age", class: "span1"
      - if @patients_table.show? :treatment_area_id
        = f.select :treatment_area_id,
          TreatmentArea.order('name').map {|t| [t.name, t.id] },
          include_blank: 'Treatment Area'
      - if @patients_table.show? :procedure_id
        = f.select :procedure_id,
          Procedure.order('code').map {|t| [t.full_description, t.id] },
          include_blank: 'Procedure'
      = f.submit "Search", class: 'btn'
      = f.submit "Clear", class: 'btn'

- if @patients_table.any?
  %table
    %thead
      %tr
        %th Chart #
        %th Last name
        %th First name
        %th Date of birth
        %th Age
        %th Sex
    %tbody
      - @patients_table.each do |patient, controls|
        %tr
          %td= patient.id
          %td= patient.last_name
          %td= patient.first_name
          %td= patient.dob
          %td= patient.age
          %td= patient.sex
          %td.controls= controls

  = will_paginate @patients_table

- else
  %p
    Enter the patient's chart number in the box above, then click
    %strong Search