.bootstrap-form
  %form{method: 'get', autocomplete: 'off'}
    .input-append.input-prepend
      %span.add-on
        %i.icon-user
      = text_field_tag :chart_number, patient_search[:chart_number],
        placeholder: "Chart number", class: "span2", autofocus: 'autofocus'
      - if patient_search.show? :name
        = text_field_tag :name, patient_search[:name], placeholder: "Name",
          class: "span2"
      = submit_tag "Search", class: 'btn'
      = submit_tag "Clear", class: 'btn'

- if patient_search.any?
  %table
    %thead
      %tr
        %th Chart #
        %th Last name
        %th First name
        %th Date of birth
        %th Age
        %th Sex
    %tbody
      - patient_search.each do |patient, controls|
        %tr
          %td= patient.id
          %td= patient.last_name
          %td= patient.first_name
          %td= patient.dob
          %td= patient.age
          %td= patient.sex
          %td.controls= controls

  = will_paginate patient_search

- else
  %p
    Enter the patient's chart number in the box above, then click
    %strong Search