= form_tag search_path, :method => 'get', :autocomplete => "off" do
  = hidden_field_tag :treatment_area_id, @area
  %p
    = label_tag :chart_number, "Chart number:"
    = text_field_tag :chart_number, params[:chart_number]
    - if current_user.user_type == UserType::ADMIN
      %b OR
      = label_tag :name, "Name:"
      = text_field_tag :name, params[:name]

    = submit_tag "Search"
    = submit_tag "Clear"

- if @patients.length > 0
  %table
    %thead
      %tr
        %th Chart #
        %th Last name
        %th First name
        %th Date of birth
        %th Age
        %th Sex
        %th{:colspan => 4}
    %tbody
      - @patients.each do |patient|
        %tr{:class=> cycle('even', 'odd')}
          %td= patient.id
          %td= patient.last_name
          %td= patient.first_name
          %td= patient.dob
          %td= patient.age
          %td= patient.sex
          - if link
            %th{:id => "checkout_#{patient.id}", :scope => "row"}= link_to_checkout(@treatment_area, patient)

  = will_paginate @patients
