- title 'Patient Check In'

- content_for :header do
  :javascript
    Event.observe(window, 'load', function() {
      $('patient_first_name').focus();
      MoM.disableEnterKey();
    });

= header do
  %h1 Edit Patient

= form_for @patient, :html => { :autocomplete => "off" } do |f|
  = render :partial => 'form', :locals => {:f => f}

  .input-bottom
    = f.submit "Update"
    |
    = link_to 'Cancel', patients_path, :class => 'warning'



