- title 'Patients'

- content_for :header do
  :javascript
    $(function(){
      $('#chart_number').select();
      $('#chart_number').focus();
    });

= header do
  %h1 Patients

= form_tag patients_path, :method => 'get', :autocomplete => "off" do
  = hidden_field_tag :treatment_area_id, @area
  %p
    = label_tag :chart_number, "Chart number:"
    = text_field_tag :chart_number, params[:chart_number]
    - if current_user.user_type == UserType::ADMIN
      %b OR
      = label_tag :name, "Name:"
      = text_field_tag :name, params[:name]

    = submit_tag "Search"
    = submit_tag "Clear"

- if @patients.length > 0
  %table
    %thead
      %tr
        %th Chart #
        %th Last name
        %th First name
        %th Date of birth
        %th Age
        %th Sex
        %th{:colspan => 4}
    %tbody
      - @patients.each do |patient|
        %tr{:class=> cycle('even', 'odd')}
          %td= patient.id
          %td= patient.last_name
          %td= patient.first_name
          %td= patient.dob
          %td= patient.age
          %td= patient.sex
          - if current_user.user_type == UserType::XRAY
            %th{:scope => "row"}= link_to "Export to Dexis", export_to_dexis_file_path(:patient_id => patient.id)

          - if current_user.user_type == UserType::CHECKOUT
            %th{:id => "checkout_#{patient.id}", :scope => "row"}= link_to_checkout(@area, patient)

          - if current_user.user_type == UserType::PHARMACY
            %th{:scope => "row"}= link_to "Check out", pharmacy_check_out_path(patient)

          - if current_user.user_type == UserType::ASSIGNMENT
            %th{:scope => "row"}= link_to "Assign", edit_assignment_desk_path(patient)

          - if current_user.user_type == UserType::ADMIN
            %td= link_to 'History', admin_patient_history_path(patient_id: patient.id)
            %td= link_to 'Edit', edit_admin_patient_path(patient)
            %td= link_to 'Print', {:controller => 'patients', :action => 'print', :id => patient.id}, :popup => true
            %td= link_to 'Destroy', admin_patient_path(patient), :confirm => 'Are you sure?', :method => :delete

  = will_paginate @patients

- elsif current_user.user_type == UserType::ADMIN
  = link_to "Export All Patients",
    admin_export_patients_path(:filename => "patients"),
    :target => "_blank"
