<% title 'Patients' %>

<script type="text/javascript">
//<![CDATA[
	onload = function()
	{
    document.getElementById('chart_number').select();
		document.getElementById('chart_number').focus();
	}
//]]>
</script>

<% header do %>
<h1><%= image_tag "logo_small.png" %> Patients</h1>
<% end %>

<% form_tag patients_path, :method => 'get' do %>
	<%= hidden_field_tag :treatement_area_id, @area %>
	<p>
    <%= label_tag :chart_number %>: 
		<%= text_field_tag :chart_number, params[:chart_number] %>
    <% if current_user.login == "admin" %>
      <b>OR</b>
      <%= label_tag :name %>: 
      <%= text_field_tag :name, params[:name] %>
    <% end %>
		<%= submit_tag "Search" %>
    <%= submit_tag "Clear" %>
	</p>
<% end %>

<% if @patients.length > 0 %>
<table>
  <tr>
    <th>Chart #</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Date of birth</th>
    <th>Age</th>
    <th>Sex</th>
    <th colspan=4></th>
  </tr>

<% for patient in @patients %>
  <tr class='<%= cycle('even', 'odd') %>'>
    <td><%=h patient.id %></td>
    <td><%=h patient.last_name %></td>
    <td><%=h patient.first_name %></td>
    <td><%=h patient.dob %></td>
    <td><%=h patient.age %></td>
    <td><%=h patient.sex %></td>
    <% if current_user.user_type == UserType::XRAY %>
    <td>
    <%= link_to "Export to Dexis", export_to_dexis_file_path(:patient_id => patient.id) %>
    </td>
    <% end %>
    <% if current_user.user_type == UserType::CHECKOUT %>
    <td><%= link_to_checkout(@area, patient) %></td>
    <% end %>
    <% if current_user.user_type == UserType::ADMIN %>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Print', {:controller => 'patients', :action => 'print', :id => patient.id}, :popup => true %>
    <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @patients %>

<br/>
<% end %>

<% if @area and current_user.user_type != UserType::XRAY %>
  <%= link_to "Change Treatment Area", home_path %>
<% else %>
  <%= link_to 'Back', home_path %>
<% end %>