- title 'Patients'

- content_for :header do
  :javascript
    $(function(){
      $('#chart_number').select();
      $('#chart_number').focus();
    });

= header do
  %h1 Patients

= form_tag patients_path, method: 'get', autocomplete: "off",
  class: "bootstrap" do
  = hidden_field_tag :treatment_area_id, @area
  .input-append.input-prepend
    %span.add-on
      %i.icon-user
    = text_field_tag :chart_number, params[:chart_number],
      :placeholder => "Chart number", :class => "span2"
    = submit_tag "Search", class: 'btn'
    = submit_tag "Clear", class: 'btn'

- if @patients.any?
  %table
    %thead
      %tr
        %th Chart #
        %th Last name
        %th First name
        %th Date of birth
        %th Age
        %th Sex
    %tbody
      - @patients.each do |patient|
        %tr{:class=> cycle('even', 'odd')}
          %td= patient.id
          %td= patient.last_name
          %td= patient.first_name
          %td= patient.dob
          %td= patient.age
          %td= patient.sex
          - if current_user.user_type == UserType::XRAY
            %td.controls= radiology_link(patient)

          - if current_user.user_type == UserType::CHECKOUT
            %td.controls{:id => "checkout_#{patient.id}"}
              = link_to_checkout(@area, patient)

          - if current_user.user_type == UserType::PHARMACY
            %td.controls
              = link_to "Check out", pharmacy_check_out_path(patient),
                class: 'primary'

          - if current_user.user_type == UserType::ASSIGNMENT
            %td.controls
              = link_to "Assign", edit_assignment_desk_path(patient),
                class: 'primary'

  = will_paginate @patients

- elsif params[:chart_number].blank?
  %p
    Enter the patient's chart number in the box above, then click
    %strong Search
- else
  %p
    %strong No results found