- title 'Print'

#header= @patient.id

%table
  %tr
    %td.column1{:rowspan=>2}
      %span.label
        %b Last
        Name:
      %br
      %span.information= @patient.last_name
    %td.column2{:rowspan=>2}
      %span.label
        %b First
        Name:
      %br
      %span.information= @patient.first_name
    %td.small
      %span.label Date of Birth:
      %b= @patient.dob
    %td
      %span.label Age:
      %b= @patient.age
  %tr
    %td.small
      %span.label Phone:
      %b= @patient.phone
    %td.small
      %span.label Gender:
      %b= @patient.sex
  %tr
    %td
      %span.label Address:
      %br
      %span.information= @patient.street
    %td
      %span.label City:
      %br
      %span.information= @patient.city
    %td
      %span.label State:
      %br
      %span.information= @patient.state
    %td
      %span.label Zip:
      %br
      %span.information= @patient.zip
  %tr
    %td
      %span.label Reason for visit:
      %br
      %span.information= @patient.chief_complaint
    %td
      %span.label Last dental visit:
      %br
      %span.information= @patient.last_dental_visit
    %td
      %span.label In pain?:
      %br
      %span.information= @patient.pain? ? 'Yes' : 'No'
    %td
      %span.label In pain for:
      %br
      %span.information
        - if @patient.pain? && @patient.pain_length_in_days
          = distance_of_time_in_words @patient.pain_length_in_days.days.ago,
            Date.today
