- title 'Pharmacy - Checkout'

= header do
  %h1 Pharmacy Checkout
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"

= form_for @patient,
  :url  => pharmacy_finalize_path(@patient),
  :html => { :autocomplete => "off" } do |f|

  %div.input

    %h4 Prescriptions

    %p
      = f.fields_for :patient_prescriptions, @prescriptions do |s|
        = s.hidden_field :prescription_id
        = s.check_box :prescribed, {}, 1, -1
        = s.label :prescribed, s.object.prescription.full_description
        %br

  %div.input-bottom{:class => "check_out"}
    = f.submit "Finish"
    = link_to "Cancel", patients_path, :class => "warning"
