%h4 Treatment Area Assignments

- if @patient.assignments.empty?
  %p No treatment area ssignments
- else
  %table
    %thead
      %tr
        %th Treatment area
        %th Assigned at
        %th Checked out
    %tbody
      = render partial: 'patient_assignment', collection: @patient.assignments,
        as: 'assignment'

%h4 Flows

- if @patient.flows.empty?
  %p No patient flows
- else
  %table
    %thead
      %tr
        %th Area
        %th Action time
    %tbody
      = render partial: 'patient_flow', collection: @patient.flows, as: 'flow'

%h4 Multiple Visits

- if @patient.associated_charts.empty?
  %p No multiple visits
- else
  %table
    %thead
      %tr
        %th Chart #
        %th Checked in at
        %th Last seen at
        %th Checked out?
    %tbody
      - @patient.associated_charts.each do |patient|
        %tr
          %td= link_to "##{patient.id}", edit_admin_patient_path(patient)
          %td= patient.created_at.strftime("%m/%d/%Y %I:%M %p")
          %td= patient.flows.last.created_at.strftime("%m/%d/%Y %I:%M %p")
          %td= patient.checked_out? ? "Yes" : "No"

