- title 'Edit Patient'

= header do
  %h1 Edit Patient

= form_for @patient, html: { autocomplete: "off" }, url: admin_patient_path(@patient) do |f|
  = render partial: 'patients/form', locals: {f: f}

  .input-bottom
    = f.submit "Update"
    |
    = link_to 'Cancel', admin_patients_path, class: 'warning'



