- title "Patient History"

= header do
  %h1 Patient History
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"

%h4 Treatment areas

%table
  %thead
    %tr
      %th Treatment area
      %th Assigned at
      %th Checked out
  %tbody
    = render partial: 'patient_assignment', collection: @patient.assignments, as: 'assignment'

%h4 Flows

%table
  %thead
    %tr
      %th Area
      %th Action time
  %tbody
    = render partial: 'patient_flow', collection: @patient.flows, as: 'flow'
