- title 'Patients'

= header do
  %h1 Patients

- @patients_table.controls do |patient|
  = link_to 'History', history_admin_patient_path(patient)
  = link_to 'Edit',    edit_admin_patient_path(patient)
  = link_to 'Print',   chart_patient_path(patient)
  = link_to 'Destroy', admin_patient_path(patient),
    data: {confirm: 'Are you sure?'}, method: :delete

= render "patients/patients"
