- title 'Log in'

= header do
  %h1 Log In

= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
  %p
    = f.label :login
    %br
    = f.select :login, user_list

  %p
    = f.label :password
    %br
    = f.password_field :password

  %p
    = f.submit 'Log in'
