- title 'Log in'

= header do
  %h1 #{clinic_state} Mission of Mercy

.bootstrap-form
  = form_for resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'} do |f|
    .control-group
      = f.label :login, "System type", class: 'control-label'
      .controls= f.select :login, user_list
    .control-group
      = f.label :password, "Password", class: 'control-label'
      .controls= f.password_field :password

    .control-group
      .controls= f.submit 'Log in', class: 'btn btn-primary'
