= f.fields_for :survey do |s|
  %h4
    Medical Information
    = help_icon("tobacco")

  = help_box("tobacco") do

    Check "Tobacco use" if the patient's chart indicates they use tobacco. This
    information is located towards the bottom of the front page.

    = image_tag "help/tobacco_use.png", :class => "help-example"

  %p
    = s.check_box :tobacco_use
    = s.label :tobacco_use

  %h4 Were you told today that you needed more dental treatment? (another cavity filled, a root canal etc.)

  %p
    = s.radio_button :told_needed_more_dental_treatment, true
    = s.label :told_needed_more_dental_treatment, "Yes", :value => true
    = s.radio_button :told_needed_more_dental_treatment, false
    = s.label :told_needed_more_dental_treatment, "No", :value => false

  %h4 Rating of services received today

  .rating-of-services
    .ratings
      - (1..10).each do |x|
        = s.radio_button :rating_of_services, x
    .desc Not Satisfied
    .desc Satisfied
    .desc Very Satisfied
