- content_for :header do
  :coffeescript
    $ -> mom.survey.init()

- title 'Patient Check In'

= render "patients/nav"

= header do
  %h1 Patient Survey
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"

- unless @patient.chart_printed?
  .alert.alert-info
    Printing Chart # #{@patient.id}
  :coffeescript
    mom.utilities.printChart #{@patient.id}

= form_for [@patient, @survey], html: { autocomplete: "off" } do |f|
  %p
    = f.label :heard_about_clinic, 'How did you hear about the clinic?',
      class: 'question'
  .input
    = f.select :heard_about_clinic, *HeardAboutClinicDecorator.options_for_select
  #heard_about_other_div
    %p
      = f.label :heard_about_other, "Please describe:"
      = f.text_field :heard_about_other
  %p
    Do you use twitter?
  .input
    = yes_no_group f, :use_twitter
  %p
    Do you use facebook?
  .input
    = yes_no_group f, :use_facebook
  %p
    Do you have a place to go for
    %strong dental
    care after today?
  .input
    = yes_no_group f, :has_place_to_be_seen_for_dental_care
  %p
    Do you have a place to go for
    %strong medical
    care after today?
  .input
    = yes_no_group f, :has_place_to_be_seen_for_medical_care
  %p
    Do you have
    %strong dental
    insurance
  .input
    = yes_no_group f, :dental_insurance
  %p
    Do you have
    %strong medical
    insurance
  .input
    = yes_no_group f, :medical_insurance
  %p
    Have you been to the ER in the last 6 months for dental issues?
  .input
    = yes_no_group f, :er_last_6_months
  %p
    Have you been to the ER in the last year for dental issues?
  .input
    = yes_no_group f, :er_last_year

  %p

  %div.input-bottom.check_out
    = f.submit "Back", class: 'btn'
    = f.submit "Check In", class: 'btn btn-primary'
