- content_for :header do
  :coffeescript
    $ -> mom.survey.init()

- title 'Patient Check In'

= render "patients/nav"

= header do
  %h1 Patient Survey
  %br
  = "#{@patient.full_name} | Chart # #{@patient.id}"

- unless @patient.chart_printed?
  .alert.alert-info
    Printing Chart # #{@patient.id}
  :coffeescript
    mom.utilities.printChart #{@patient.id}

= form_for [@patient, @survey], html: { autocomplete: "off" } do |f|
  %p
    = f.label :heard_about_clinic, 'How did you hear about the clinic?',
      class: 'question'
  .input
    = f.select :heard_about_clinic, *HeardAboutClinicDecorator.options_for_select
  #heard_about_other_div
    %p
      = f.label :heard_about_other, "Please describe:"
      = f.text_field :heard_about_other
  %p
    Do you have a place to go for dental care after today?
  .input
    = yes_no_group f, :has_place_to_be_seen_for_dental_care
  %p
    Do you currently have a place to live?
  .input
    = yes_no_group f, :currently_has_a_place_to_live
  %p
    What, if any, insurance do you have to pay for dental care? (Check all that apply)
  .input
    = f.check_box :no_insurance
    = f.label :no_insurance
    %br
    = f.check_box :insurance_from_job
    = f.label :insurance_from_job
    %br
    = f.check_box :self_purchase_insurance
    = f.label :self_purchase_insurance, "Insurance purchased by myself"
    %br
    = f.check_box :husky_insurance_a
    = f.label :husky_insurance_a
    %br
    = f.check_box :husky_insurance_b
    = f.label :husky_insurance_b
    %br
    = f.check_box :husky_insurance_c
    = f.label :husky_insurance_c
    %br
    = f.check_box :husky_insurance_d
    = f.label :husky_insurance_d
    %br
    = f.check_box :husky_insurance_unknown
    = f.label :husky_insurance_unknown
    %br
    = f.check_box :charter_oak
    = f.label :charter_oak

  %p
    Are you a veteran?

  .input
    = yes_no_group f, :veteran

  .veteran-questions{class: ('hidden' unless @survey.veteran)}

    %hr

    %p
      Are you able to access dental care?

    .input
      = yes_no_group f, :vet_able_to_access_dental_care

    %p
      How long does it take you to access dental care?

    .input
      = f.select :vet_length_to_access_dental_care,
        ["Same Day", "Several Days", "A Week", "Several Weeks",
         "A Month", "2 Months", "Longer than 2 Months"],
         include_blank: true

    %p
      Can your family access dental care?

    .input
      = yes_no_group f, :vet_family_able_to_access_dental_care

  %p

  %div.input-bottom.check_out
    = f.submit "Back", class: 'btn'
    = f.submit "Check In", class: 'btn btn-primary'
