- title 'Reports - Clinic Summary'

- content_for :header do
  = stylesheet_link_tag('report_print', :media => :print)

= header do
  %h1 Clinic Summary Report
  #controls
    - form_tag admin_clinic_summary_report_path, :method => 'get' do
      = select_tag "day", options_for_select(days(@report), @report.day)
      = select_tag "span", options_for_select(time_spans, @report.span)
      = submit_tag "Refresh"
    |
    = button_to 'Print', 'javascript:window.print();'
  #report_date
    %h3
      = @report.day_and_span

%h2
  %u Summary

%p
  Total Patients Checked In:
  = @report.patient_count
  %br
  Total Patients Given X-Rays:
  = @report.xrays
  %br
  Total Patients Checked Out:
  = @report.checkouts

%p
  Total Procedures:
  = @report.procedure_count
  %br
  Total Procedures Value:
  = real_currency @report.procedure_value
  %br
  Total Prescriptions:
  = @report.prescription_count
  %br
  Total Prescriptions Value:
  = real_currency @report.prescription_value
  %br
  Total Pre-Medications:
  = @report.pre_med_count
  %br
  Total Pre-Medications Value:
  = real_currency @report.pre_med_value
  %br
  Grand Total Value:
  = real_currency @report.grand_total

%p
  Next Chart Number:
  = @report.next_chart_number

%h2
  %u Detail

- if @report.procedure_count > 0
  %table
    %thead
      %tr
        %th Procedure
        %th Quantity
        %th Dollar Value
    %tbody
      - @report.procedures.each do |procedure, qty, value|
        %tr{:class => cycle('even', 'odd')}
          %td= procedure
          %td.integer= qty
          %td.integer= real_currency value
    %tfoot
      %tr
        %th Total
        %th= @report.procedure_count
        %th= real_currency @report.procedure_value

- if @report.prescription_count > 0
  %br
  %table
    %thead
      %tr
        %th Prescription
        %th Quantity
        %th Dollar Value
    %tbody
      - @report.prescriptions.each do |prescription, qty, value|
        %tr{:class => cycle('even', 'odd')}
          %td= prescription
          %td.integer= qty
          %td.integer= real_currency value
    %tfoot
      %tr
        %th Total
        %th= @report.prescription_count
        %th= real_currency @report.prescription_value

- if @report.pre_med_count > 0
  %br
  %table
    %thead
      %tr
        %th Pre-Medication
        %th Quantity
        %th Dollar Value
    %tbody
      - @report.pre_meds.each do |pre_med, qty, value|
        %tr{:class => cycle('even', 'odd')}
          %td= pre_med
          %td.integer= qty
          %td.integer= real_currency value
    %tfoot
      %tr
        %th Total
        %th= @report.pre_med_count
        %th= real_currency @report.pre_med_value

%h2
  Grand Total Value:
  = real_currency @report.grand_total

%p
  = link_to "Back", admin_reports_path, :class => "back"
