- title 'Reports - Clinic Summary'

- content_for :header do
  = stylesheet_link_tag('print/report', :media => :print)

= header do
  %h1 Clinic Summary Report
  #controls
    = form_tag admin_clinic_summary_report_path, :method => 'get' do
      = select_tag "day", options_for_select(days(@report), @report.day)
      = select_tag "span", options_for_select(time_spans, @report.span)
      = submit_tag "Refresh"
    |
    = button_to 'Print', 'javascript:window.print();'
  #report_date
    %h3
      = @report.day_and_span

%h2
  %u Summary

%p
  Patients Checked In:
  = @report.patient_count
  %br
  Repeat Patients:
  = @report.multivisit_patents.count
  %br
  Total Patient Charts:
  = @report.total_patient_charts
  %br
  Patients Given X-Rays:
  = @report.xrays
  %br
  Patients Checked Out:
  = @report.checkouts
  %br
  Charts Never Checked Out:
  = @report.patients_never_checked_out

%p
  Procedures: #{@report.procedure_count}
  %br
  Procedures Value:
  = real_currency @report.procedure_value
  %br
  Prescriptions:
  = @report.prescription_count
  %br
  Prescriptions Value:
  = real_currency @report.prescription_value
  %br
  Pre-Medications:
  = @report.pre_med_count
  %br
  Pre-Medications Value:
  = real_currency @report.pre_med_value
  %br
  Grand Total Value:
  = real_currency @report.grand_total

%p
  Next Chart Number:
  = @report.next_chart_number

%h2
  %u Detail

- if @report.patients_per_treatment_area.any?
  %table
    %thead
      %tr
        %th Treatment Area
        %th Number of Patients
    %tbody
      - @report.patients_per_treatment_area.each do |ta_summary|
        %tr
          %td= ta_summary.treatment_area.name
          %td= ta_summary.patient_count

- if @report.procedure_count > 0
  %table
    %thead
      %tr
        %th Procedure
        %th Quantity
        %th Dollar Value
    %tbody
      - @report.procedures.each do |procedure|
        %tr{:class => cycle('even', 'odd')}
          %td= procedure.full_description
          %td.integer= procedure.subtotal_count
          %td.integer= real_currency procedure.subtotal_value
    %tfoot
      %tr
        %th Total
        %th= @report.procedure_count
        %th= real_currency @report.procedure_value

- if @report.prescription_count > 0
  %br
  %table
    %thead
      %tr
        %th Prescription
        %th Quantity
        %th Dollar Value
    %tbody
      - @report.prescriptions.each do |prescription|
        %tr{:class => cycle('even', 'odd')}
          %td= prescription.name
          %td.integer= prescription.prescription_count
          %td.integer= real_currency prescription.prescription_value
    %tfoot
      %tr
        %th Total
        %th= @report.prescription_count
        %th= real_currency @report.prescription_value

- if @report.pre_med_count > 0
  %br
  %table
    %thead
      %tr
        %th Pre-Medication
        %th Quantity
        %th Dollar Value
    %tbody
      - @report.pre_meds.each do |pre_med|
        %tr{:class => cycle('even', 'odd')}
          %td= pre_med.description
          %td.integer= pre_med.pre_med_count
          %td.integer= real_currency pre_med.pre_med_value
    %tfoot
      %tr
        %th Total
        %th= @report.pre_med_count
        %th= real_currency @report.pre_med_value

%h1
  Grand Total Value:
  = real_currency @report.grand_total

- if params[:day] != 'All'

  %h2
    %u Clinic Throughput

  %h3 Check-ins per hour

  = bar_graph('checkins_per_hour_graph',
    per_hour(@report.patients_per_hour),
    {style: "width: 800px; height: 300px;"})

  %h3 Radiology visits per hour

  = bar_graph('xrays_per_hour_graph',
    per_hour(@report.xrays_per_hour),
    {style: "width: 800px; height: 300px;"})

  %h3 Check-outs per hour

  = bar_graph('checkouts_per_hour_graph',
    per_hour(@report.checkouts_per_hour),
    {style: "width: 800px; height: 300px;"})

  %h3 Procedures per hour

  = bar_graph('procedures_per_hour_graph',
    per_hour(@report.procedures_per_hour),
    {style: "width: 800px; height: 300px;"})

%div
  = link_to "Back", admin_reports_path, :class => "back"

