- title 'Reports - Treatment Area Distribution'

= header do
  %h1 Treatment Area Distribution
  #controls
    = form_tag admin_treatment_area_distribution_report_path, :method => "GET" do
      = submit_tag "Refresh"


= raw bar_graph "treatment_area_graph",
                @current_capacity,
                { :style => "width:845px; height:200px" }

%p
  = link_to "Back", admin_reports_path, :class => "back"
