- title 'Reports - Treatment Area Distribution'

= header do
  %h1 Treatment Area Distribution
  #controls
    = form_tag admin_treatment_area_distribution_report_path, :method => "GET" do
      = submit_tag "Refresh"


= raw bar_graph "treatment_area_graph",
                @current_capacity,
                { :style => "width:845px; height:200px" }

#treatment_area_details
  - @areas_with_patients.each do |area|
    %h3= area.name
    %ul
      - area.patients.each do |patient|
        %li= link_to patient.full_name, history_admin_patient_path(patient)
%p
  = link_to "Back", admin_reports_path, :class => "back"
