- content_for :header_js do
  :plain
    $(function(){
      $('#chart_number').select().focus();
    });

- title "#{@treatment_area.name} Checkout"

= header do
  %h1= "#{@treatment_area.name} Checkout"

= render :partial => "patients/search",
  :locals => { :search_path => treatment_area_patients_path(@treatment_area.id),
               :link => true }
