- content_for :header do
  = javascript_include_tag 'proto.menu.0.6'
  = stylesheet_link_tag 'proto.menu.0.6', :media => :screen

  :javascript
    document.observe('dom:loaded', function(){
      $('chart_number').select();
      $('chart_number').focus();
    });

- title "#{@treatment_area.name} Checkout"

= header do
  %h1= "#{@treatment_area.name} Checkout"

= render :partial => "patients/search", :locals => {:search_path => treatment_area_patients_path(@treatment_area.id), :link => true}

- @patients.each do |patient|
  :javascript
    var checkoutMenuItems_#{patient.id} = [];

  - TreatmentArea.all(:order => "name").each do |area|
    :javascript
      checkoutMenuItems_#{patient.id}.push({ name : '#{area.name}',
                               callback: function(){
                                 link = $('checkout_#{patient.id}').children[0];
                                 link.update("#{area.name} Checkout");
                                 link.writeAttribute("href", "#{checkout_path(area, patient)}");
                               }});

  :javascript
    new Proto.Menu({
      selector: '#checkout_#{patient.id}',
      className: 'menu desktop',
      menuItems: checkoutMenuItems_#{patient.id}
    });
