<h1>Listing procedures</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th>Requires tooth number</th>
    <th>Requires surface code</th>
    <th>Type</th>
  </tr>

<% for procedure in @procedures %>
  <tr>
    <td><%=h procedure.code %></td>
    <td><%=h procedure.description %></td>
    <td><%=h procedure.requires_tooth_number %></td>
    <td><%=h procedure.requires_surface_code %></td>
    <td><%=h procedure.procedure_type %></td>
    <td><%= link_to 'Show', procedure %></td>
    <td><%= link_to 'Edit', edit_procedure_path(procedure) %></td>
    <td><%= link_to 'Destroy', procedure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New procedure', new_procedure_path %> | <%= link_to 'Back', home_path %>
