= error_messages_for :user

%p
  = f.label :login
  %br
  = f.text_field :login

%p
  = f.label :user_type
  %br
  = f.select :user_type, UserType.each  {|k,v| [k,v] }

%p
  = f.label :name, "Custom Name"
  %br
  = f.text_field :name, value: @user.read_attribute(:name)

%p
  = f.label :password
  %br
  = f.password_field :password

%p
  = f.label :password_confirmation, 'Confirm Password'
  %br
  = f.password_field :password_confirmation

%p
  = f.label :x_ray_station_id
  %br
  = f.select :x_ray_station_id, (1..15).map {|v| [v,v] }

%p
  = submit_tag 'Save'
  = link_to 'Cancel', admin_users_path
