<% title 'Reports - Day Summary' %>

<h1><%= image_tag "logo_small.png" %> Day Summary Report</h1>
<div id='controls'><% # button_to 'Refresh', 'javascript:location.reload(true);' %>
<% form_tag '/reports/day_summary', :method => 'get' do %>
		<%= select_tag "day", day_selection(params[:day]) %>
    <%= submit_tag "Refresh" %>
<% end %>
 | <%= button_to 'Print', 'javascript:window.print();' %>
</div>
<div id='report_date'>
<h3><%= day_selection_full_name(params[:day]) %></h3>
</div>
<hr>

<%= flash[:time] %>

<h2><u>Summary</u></h2>

<% 
  total_prescription_cost = 0
  total_prescriptions = 0
  total_procedures_cost = 0
  total_procedures = 0
  
  @patients.each do |p|
    # Get Prescription and Procedure Summary
  
    p.patient_prescriptions.find(:all,:conditions => {:prescribed => true}).each do |prescription|
      total_prescription_cost += prescription.prescription.cost
    end
    
    total_prescriptions += p.patient_prescriptions.count(:conditions => {:prescribed => true})
  
    p.patient_procedures.each do |procedure|
      total_procedures_cost += procedure.procedure.cost
    end
    
    total_procedures += p.patient_procedures.length
  end 

%>

Total Patients Checked In: <%= @patients.length %><br/>
Total Patients Given X-Rays: <%= Patient.count(:conditions => ["exported_to_dexis > ? and exported_to_dexis < ?",Time.today, @endTime]) %><br/>
Total Patients Checked Out: <%= Patient.count(:conditions => ["check_out > ? and check_out < ?",Time.today, @endTime]) %>
<p>
Total Procedures: <%= total_procedures %><br/>
Total Procedures Value: <%= real_currency total_procedures_cost %><br/>
Total Prescriptions: <%= total_prescriptions %><br/>
Total Prescriptions Value: <%= real_currency total_prescription_cost %><br/>
Grand Total Value: <%= real_currency (total_prescription_cost + total_procedures_cost)  %>
<p>
Next Chart Number: <%= Patient.maximum(:id) + 1 %><br/>

<p>

<h2><u>Details</u></h2>

<table>
<tr>
<th>Procedure</th>
<th>Quantity</th>
<th>Dollar Value</th>
</tr>
<% procedures = PatientProcedure.count(:conditions => {:patient_id => @patients}, :include => :procedure, :group => :procedure_id) %>
<% procedures.each do |p| %>
<tr>
<td><%= Procedure.find(p[0]).full_description %></td>
<td><%= p[1] %></td>
<td><%= real_currency (p[1] * Procedure.find(p[0]).cost) %></td>
</tr>
<% end %>
<tr>
<th>Total</th>
<th><%= total_procedures %></th>
<th><%= real_currency total_procedures_cost %></th>
</tr>
</table>

<p>

<table>
<tr>
<th>Prescription</th>
<th>Quantity</th>
<th>Dollar Value</th>
</tr>
<% prescriptions = PatientPrescription.count(:conditions => {:patient_id => @patients, :prescribed => true}, :include => :prescription, :group => :prescription_id) %>
<% prescriptions.each do |p| %>
<tr>
<td><%= Prescription.find(p[0]).full_description %></td>
<td><%= p[1] %></td>
<td><%= real_currency (p[1] * Prescription.find(p[0]).cost) %></td>
</tr>
<% end %>
<tr>
<th>Total</th>
<th><%= total_prescriptions %></th>
<th><%= real_currency total_prescription_cost %></th>
</tr>
</table>
<p>
<h2>Grand Total Value: <%= real_currency (total_prescription_cost + total_procedures_cost)  %></h2> 
<br />
<%= link_to 'Back', reports_path %>