= f.error_messages

%p
  = f.label :code
  %br
  = f.text_field :code

%p
  = f.label :description
  %br
  = f.text_field :description

%p
  = f.label :auto_add , 'Automatically add to each new patient'
  %br
  = f.check_box :auto_add

%p
  = f.label :requires_tooth_number
  %br
  = f.check_box :requires_tooth_number

%p
  = f.label :requires_surface_code
  %br
  = f.check_box :requires_surface_code

%p
  = f.label :procedure_type
  %br
  = f.select :procedure_type, ['Amalgam','Composite'], :include_blank => "General "

%p
  = f.label :number_of_surfaces
  %br
  = f.text_field :number_of_surfaces

%p
  = f.label :cost
  %br
  = f.text_field :cost

%p
  = f.submit "Save"
  = link_to "Cancel", admin_procedures_path
