!!! Strict
%html
  %head
    %title= "Mission of Mercy - #{yield(:title) || controller_name.humanize}"

    %link{:rel => "apple-touch-icon", :href => "/images/apple-touch-icon.png"}

    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    = csrf_meta_tag

    :javascript
      $(function() { MoM.init(); });
      #{yield(:header_js)}

    = yield(:header)

  %body{:class => body_css}
    #help_request
    #outer_container
      #container
        = render :partial => 'users/user_bar'
        %div{'data-pjax-container' => ''}
          = render "shared/flash", :flash => flash
          - if current_user.try(:user_type) == UserType::ADMIN
            = render :partial => "admin/nav"
          = yield(:top_layout)
          #contents= yield
        #footer
          - stats.messages.each do |message|
            = message
            %br
        #footer-version
          = "Version #{app_version}"
