<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Mission of Mercy - <%= yield(:title) || controller_name.humanize %></title>
  
  <%= javascript_include_tag :defaults, 'modalbox.js' %>
  
  <!-- Active Bar -->
  <%= javascript_include_tag 'activebar/jquery/jquery-1.3.2.min.js', 'activebar/activebar2.js', 'support_request.js' %>
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  
  <%= stylesheet_link_tag 'default', :media => :screen %>
  <%= stylesheet_link_tag 'modalbox' %>
  
  <%= javascript_tag "jQuery.noConflict();" %>
  
  <%= yield :header %>
  
</head>
<body <%= body_css %>>
  <div id="help_request"></div>
  <div id='outer_container'>
    <div id='container'>
    <%= render :partial => 'users/user_bar' %>
      <div id="contents">
        <%= yield  %>
      </div>
      <div id="footer-version">
        Version <%= app_version %>
      </div>
    </div>
  </div>
</body>
</html>