!!! Strict
%html
  %head
    %title= "Mission of Mercy - #{yield(:title) || controller_name.humanize}"
    
    %link{:rel => "apple-touch-icon", :href => "/images/apple-touch-icon.png"}
    
    = javascript_include_tag :defaults, 'modalbox.js', 'application_old'
    = javascript_include_tag 'helpers'
    = javascript_include_tag 'jquery', 'jquery.flot', 'jquery.flot.valuelabels'
    
    = stylesheet_link_tag 'default', :media => :screen
    = stylesheet_link_tag 'modalbox', 'tabs', 'plot'
    
    /Active Bar
    = javascript_include_tag 'jquery-1.5.1.min', 'activebar/activebar2.js'
    :javascript
      jQuery.noConflict();
      MoM.init('#{form_authenticity_token}');
      #{yield(:header_js)}
    
    = yield(:header)
    
  %body{:class => body_css}
    #help_request
    #outer_container
      #container
        = render :partial => 'users/user_bar'
        - if current_user.try(:user_type) == UserType::ADMIN
          = render :partial => "admin/nav"
        #contents
          = render :partial => "shared/flash", :locals => { :flash => flash }
          = yield
        #footer
          - stats.messages.each do |message|
            = message
            %br
        #footer-version
          = "Version #{app_version}"