!!! Strict
%html
  %head
    %title= "Mission of Mercy - #{yield(:title) || controller_name.humanize}"

    = javascript_include_tag 'application'
    = stylesheet_link_tag 'print/default', :media => :all

    - if Rails.env.production?
      :javascript
        $(function(){
          window.print();
          window.close(); // We don't mess around. In and out.
        });

  %body
    = yield
