<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Mission of Mercy - <%= yield(:title) || "" %></title>
  <%= stylesheet_link_tag('default', :media => :screen) %>
  <%= stylesheet_link_tag('report_print', :media => :print) %>
  <%= javascript_include_tag :defaults %>
</head>
<body<% if current_user.nil? %> class='logged_out'<% elsif current_user.login == "admin" %> class='admin'<% end %>>
    <%= render :partial => 'home/top_navigation' %>     
    <div id="contents">
      <% #render :partial => 'navigation/main_navigation' %>
      <%= yield  %>
    </div>

  <div id="footer">
   Copyright &copy; 2009 Integrity Systems & Solutions and Duck Soup Software<% if !production? %><br />(Work in progress.)<% end %>
   </div>
    <div id="footer-version">
      <% if !production? %>
        THIS IS AN UNPUBLISHED WORK CONTAINING DUCK SOUP SOFTWARE CONFIDENTIAL AND PROPRIETARY INFORMATION. DISCLOSURE, USE, OR REPRODUCTION WITHOUT AUTHORIZATION OF DUCK SOUP SOFTWARE IS PROHIBITED.
      <% else %>
        Version <%= version %>
      <% end %>
    </div>

</body>
</html>
